//- index.pug
extends ../../pages/views/page.pug

include ../../page-elements/views/form/field.pug
include widgets/defaults.pug
include widgets/name-address.pug
include widgets/parcel.pug
include widgets/services.pug

block title
  | #{__('Create Return Order and Label')}

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/hsi/returnlabel_v2/') #{__('Create Return Order and Label')}

block content
  div#hsi.hsi.flex-wrapper
    include widgets/header.pug
    #hsi-container.hsi-container.flex-block.flex-center
      h2 #{__('Create Return Order and Label')}
      include widgets/error.pug
      if request
        h3 Request
        pre= JSON.stringify(request, null, 2)
      if response
        h3 Response
        pre= JSON.stringify(response, null, 2)
        if pdfFilename
          h3
            a.pdf-link(href = '/' + pdfFilename, target='_blank') #{__('Open PDF')}
        if pngFilename
          h3
            a.pdf-link(href = '/' + pngFilename, target='_blank') #{__('Open QR Code')}
        if jsonFilename
          h3
            a.json-link(href = '/' + jsonFilename, target='_blank') #{__('Open JSON File')}
      else
        form#returnlabelform.returnlabelform(method='POST', action='/hsi/returnlabel_v2/')
          fieldset.fieldset.fieldset-shipment-reference
            legend.fieldset-legend #{__('Shipment Reference')}
            + field(__('Shipment ID (BC14/BC20)'), {
                type: 'text',
                name: 'shipmentID',
                value: post.shipmentID
            })
            + field(__('Shipment Order ID'), {
                type: 'text',
                name: 'shipmentOrderID',
                value: post.shipmentOrderID
            })
          + nameAddress('sender', __('Sender'))
          + nameAddress('receiver', __('Receiver'))
          + parcel()
          fieldset.fieldset.fieldset-other-settings
            legend.fieldset-legend #{__('Other Settings')}
            + field(__('Client Reference'), {
                type: 'text',
                name: 'clientReference',
                value: post.clientReference
            })
            + field(__('Mandator'), {
                type: 'text',
                name: 'mandator',
                value: post.mandator
            })
          + field(__('Output Format'), {
            type: 'radio',
            name: 'headers.Accept',
            entries: {
              'application/shippinglabel-pdf+json': __('PDF Label'),
              'application/x-qrcode-png+json': __('QR Code'),
              'application/shippinglabel-data+json': __('Label data (JSON)')
            }
          })
          + field('', {
            type: 'submit',
            value: __('create return order and label')
          })
