//- index.pug
extends ../../pages/views/page.pug

include ../../page-elements/views/form/field.pug
include widgets/defaults.pug

block title
  | #{__('Create Label for Return Order (Version 2)')}

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/hsi/returnorderlabel_v2/') #{__('Create Label for Return Order (Version 2)')}

block content
  div#hsi.hsi.flex-wrapper
    include widgets/header.pug
    #hsi-container.hsi-container.flex-block.flex-center
      h2 #{__('Create Label for Return Order (Version 2)')}
      include widgets/error.pug
      include widgets/request.pug
      if response
        h3 Response
        pre= JSON.stringify(response, null, 2)
        if pdfFilename
          h3
            a.pdf-link(href = '/' + pdfFilename) #{__('Open PDF')}
        if pngFilename
          h3
            a.pdf-link(href = '/' + pngFilename, target='_blank') #{__('Open QR Code')}
        if jsonFilename
          h3
            a.json-link(href = '/' + jsonFilename, target='_blank') #{__('Open JSON File')}
      else
        form#returnorderlabelform.returnorderlabelform(method='POST', action='/hsi/returnorderlabel_v2/')
          + field(__('Shipment Order ID'), {
              type: 'text',
              name: 'returnOrderID',
              value: returnOrderID || post.returnOrderID,
              size: 30
          })
          + field(__('Output Format'), {
            type: 'radio',
            name: 'headers.Accept',
            entries: {
              'application/shippinglabel-pdf+json': __('PDF Label'),
              'application/x-qrcode-png+json': __('QR Code'),
              'application/shippinglabel-data+json': __('Label data (JSON)')
            }
          })
          + field('', {
            type: 'submit',
            value: __('create return order label')
          })
