//- index.pug
extends ../../pages/views/page.pug
include ../../page-elements/views/form/field.pug
include widgets/defaults.pug
include widgets/name-address.pug
include widgets/parcel.pug
include widgets/services.pug

block title
  | #{__('Create Return Order (Version 2)')}

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/hsi/returnorder/') #{__('Create Return Order (Version 2)')}

block content
  div#hsi.hsi.flex-wrapper
    include widgets/header.pug
    #hsi-container.hsi-container.flex-block.flex-center
      h2 #{__('Create Return Order (Version 2)')}
      include widgets/error.pug
      include widgets/request.pug
      if response
        h3 Response
        pre= JSON.stringify(response, null, 2)
        h3.link-container
          a.link-returnorderlabel(href='/hsi/returnorderlabel_v2/' + response.returnOrderID) #{__('create label')}
      else
        form#returnorderform.returnorderform(method='POST', action='/hsi/returnorder_v2/')
          fieldset.fieldset.fieldset-shipment-reference
            legend.fieldset-legend #{__('Shipment Reference')}
            + field(__('Shipment ID (BC14/BC20)'), {
                type: 'text',
                name: 'shipmentID',
                value: post.shipmentID
            })
            + field(__('Shipment Order ID'), {
                type: 'text',
                name: 'shipmentOrderID',
                value: post.shipmentOrderID
            })
          + nameAddress('sender', __('Sender'))
          + nameAddress('receiver', __('Receiver'))
          + parcel()
          fieldset.fieldset.fieldset-other-settings
            legend.fieldset-legend #{__('Other Settings')}
            + field(__('Client Reference'), {
                type: 'text',
                name: 'clientReference',
                value: post.clientReference
            })
            + field(__('Client Reference 2'), {
                type: 'text',
                name: 'clientReference2',
                value: post.clientReference2
            })
            + field(__('Mandator'), {
                type: 'text',
                name: 'mandator',
                value: post.mandator
            })
          + field('', {
            type: 'submit',
            value: __('create return order'),
            class: 'submit'
          })
