//- index.pug
extends ../../pages/views/page.pug
include ../../page-elements/views/form/field.pug
include widgets/defaults.pug
include widgets/name-address.pug
include widgets/parcel.pug
include widgets/services.pug

block title
  | #{__('Create Shipment Order')}

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/hsi/shipmentorder/') #{__('Create Shipment Order')}

block content
  div#hsi.hsi.flex-wrapper
    include widgets/header.pug
    #hsi-container.hsi-container.flex-block.flex-center
      h2 #{__('Create Shipment Order')}
      include widgets/error.pug
      include widgets/request.pug
      if response
        h3 Response
        pre= JSON.stringify(response, null, 2)
        h3.link-container
          a.link-shipmentorderlabel(href='/hsi/shipmentorderlabel/' + response.shipmentOrderID) #{__('create label')}
      else
        form#shipmentorderform.shipmentorderform(method='POST', action='/hsi/shipmentorder/')
          + nameAddress('receiver', __('Receiver'))
          //-+ field(__('Receiver contact mobile (PL)'), {
          //-  type: 'text',
          //-  name: 'receiverContact.mobile',
          //-  value: post['receiverContact.mobile']
          //-})
          + nameAddress('sender', __('Sender'))
          + parcel()
          + services()
          fieldset.fieldset.fieldset-other-settings
            legend.fieldset-legend #{__('Other Settings')}
            + field(__('Client Reference'), {
                type: 'text',
                name: 'clientReference',
                value: post.clientReference
            })
            + field(__('Client Reference 2'), {
                type: 'text',
                name: 'clientReference2',
                value: post.clientReference2
            })
            + field(__('Mandator'), {
                type: 'text',
                name: 'mandator',
                value: post.mandator
            })
          + field('', {
            type: 'submit',
            value: __('create shipment'),
            class: 'submit'
          })
