//- index.pug
extends ../../pages/views/page.pug

include ../../page-elements/views/form/field.pug
include widgets/defaults.pug
include widgets/name-address.pug
include widgets/parcel.pug
include widgets/services.pug

block title
  | #{__('Create Shipment Order and Label')}

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/hsi/shipmentlabel/') #{__('Create Shipment Order and Label')}

block content
  div#hsi.hsi.flex-wrapper
    include widgets/header.pug
    #hsi-container.hsi-container.flex-block.flex-center
      h2 #{__('Create Shipment Order and Label')}
      include widgets/error.pug
      if request
        h3 Request
        pre= JSON.stringify(request, null, 2)
      if response
        h3 Response
        pre= JSON.stringify(response, null, 2)
        if pdfFilename
          h3
            a.pdf-link(href = '/' + pdfFilename) PDF öffnen
      else
        form#shipmentlabelform.shipmentlabelform(method='POST', action='/hsi/shipmentlabel/')
          + nameAddress('receiver', __('Receiver'))
          + nameAddress('sender', __('Sender'))
          + parcel()
          + services()
          fieldset.fieldset.fieldset-other-settings
            legend.fieldset-legend #{__('Other Settings')}
            + field(__('Client Reference'), {
                type: 'text',
                name: 'clientReference',
                value: post.clientReference
            })
            + field(__('Mandator'), {
                type: 'text',
                name: 'mandator',
                value: post.mandator
            })
          + field(__('Output Format'), {
            type: 'radio',
            name: 'headers.Accept',
            entries: {
              'application/shippinglabel-pdf+json': __('PDF Label'),
              'application/shippinglabel-data+json': __('Label data (JSON)')
            }
          })
          + field('', {
            type: 'submit',
            value: __('create shipment and label')
          })
